#navigation-container {
  width: auto;
  transition: width 0.9s ease-in-out;
  overflow: hidden; 

}

#navigation-container:hover {
  width: 15%;
}

.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; 
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; 
}

#navigation-container:hover .search-input {
  display: none;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; 
}

@media (max-width:1600px) {
  #navigation-container {
    width: 100%;
    overflow: hidden;
    height: auto;
    bottom: 0px;
    justify-content: space-between;
}
  
  #navigation-container:hover {
    width: 100%;
  }
  

  .nav-item-name {
    display: block;
    transition: opacity 0.2s ease-in-out; 
    font-size: 10px;
    margin: 0;
  }
  
  .search-input {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; 
  }
  

  .icone-menu-home {
    margin: 0;
    padding: 0;
  }

  .navigation-container-menu {
    display: flex;
    justify-content: center;
    align-items: self-end;
    flex-direction: row;
    gap: 36px;
    height: 30px;
    margin-bottom: 10px;
  }

  .navigation-container-menu  a  , .navigation-container-menu-other{
    display: flex;
    flex-direction: column;
  }

  .relative ul {
    position: static;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    background-color: black;
    bottom: 0;
}

  
}